/*.content {
  font-size: 16px;
  margin: 50px;
  font-family: Arial;
  text-align: center;
  padding: 5px 5px;
  margin: 5px 8px;
  border-style: inset;
  background-color: beige;
}
#submit {
  border: none;
  border-radius: 5px;
  background-color: #27ae60;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
form {
  position: relative;
  text-align: center;
  border-style: inset;
  background-color: beige;
  padding: 5px 5px;
  margin: 5px 8px;
}

.footer {
  text-align: center;
  font-size: 12px;
  font-family: Arial;
}*/


/* Navbar/Header section */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: url('homepage-background-img.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.topnav {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  background: rgba(157, 114, 114, 0.1);
  backdrop-filter: blur(50px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  min-width: 800px;
}

.navbar a {
  padding-right: 2.5rem;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  font-weight: 400;

}

.logo {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  float: left;
  position: absolute;
  margin-left: -25px;
  text-shadow: 2px 2px 4px rgba(100,100,100, 0.9);
}

.png {
  margin-left: -100px;
}


.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  font-family: inherit;
  border: 0;
  outline: 0;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown-content a:hover {
  background-color: #b29d8d;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*about us section*/
.content .box {
  margin-top: 200px;
  padding: 3rem 2rem;
  text-align: left;
  background: #eceae1;
  display: inline-block;
  width: fit-content;
  height: auto;
  position: relative;
}

.content .text-box {
  font-size: 40px;
  color: #6b7555
}

.index-header .header-content {
  padding-top: 200px;
  text-align: center;
}

.header-content .web-title {
  font-size: 100px;
  color: #ffffff
}

.header-content {
  font-size: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(100,100,100, 1);
}


/*registry examples section*/
.registry-examples {
  background-color: #b29d8d;

  .container {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-top: 50px;
  }

  .image-container{
    width: 500px;
    height: 300px;
    overflow: hidden;
    justify-content: flex-end;
    border-radius: 200px 20px 20px 200px;
  }
   .image-container img {
    width: 100%;
    transition: 0.3s all ease-in-out;
  
  }

   .image-container:hover img{
    transform: scale(1.2);
  }

   .image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text {
    color: #d1c9bb;
    font-size: 50px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .container2 {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 50px;
  }
  .container2 .image-container{
    width: 500px;
    height: 300px;
    overflow: hidden;
   justify-content: flex-start;
    border-radius: 20px 200px 200px 20px;
  }
   .container2 .image-container img {
    width: 100%;
    transition: 0.3s all ease-in-out;
  }

   .container2 .image-container:hover img{
    transform: scale(1.2);
  }

   .image-container2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header,
  .footer {
    color: #d1c9bb;
    padding-top: 50px;
    font-size: 30px;
    text-align: center;
  }
}

.pattern-section {
min-height: 20vh;
 background: url(patter-test-2.jpg) no-repeat;
background-size: cover;
background-position: center;
}
