
/*.content {
  font-size: 16px;
  margin: 50px;
  font-family: Arial;
  text-align: center;
  padding: 5px 5px;
  margin: 5px 8px;
  border-style: inset;
  background-color: beige;
}
#submit {
  border: none;
  border-radius: 5px;
  background-color: #27ae60;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
form {
  position: relative;
  text-align: center;
  border-style: inset;
  background-color: beige;
  padding: 5px 5px;
  margin: 5px 8px;
}

.footer {
  text-align: center;
  font-size: 12px;
  font-family: Arial;
}*/

/* Navbar/Header container */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

body{
  min-height: 100vh;
  background: url('homepage-background-img.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.topnav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  background: rgba(157, 114, 114, 0.1);
  backdrop-filter: blur(50px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar a{
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  margin-left: 2.5rem;
}

.logo{
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}



/* Links inside the navbar 
.topnav a {
  float: right;
  border: inset;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}*/

/* The dropdown container 
.dropdown {
  float: right;
  overflow: hidden;
}*/

/* Dropdown button 
.dropdown .dropbtn {
  font-size: 16px;
  border: inset;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;  Important for vertical align on mobile phones 
  margin: 0;  Important for vertical align on mobile phones 
}*/

/* Add a red background color to navbar links on hover 
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(210, 210, 147);
}*/

/* Dropdown content (hidden by default) 
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px black;
  z-index: 1;
}*/

/* Links inside the dropdown 
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover 
.dropdown-content a:hover {
  background-color: #ddd;
}*/

/* Show the dropdown menu on hover 
.dropdown:hover .dropdown-content {
  display: block;
}

form .show {
  width: 5%;
  height: 25px;
  border: none;
  outline: none;
  text-align: center;
  background: #27ae60;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}
*/
