<!-- edit.ejs -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Edit Wishlist Item</title>
    <!-- Add any required stylesheets or scripts -->
</head>
<body>
    <h1>Edit Wishlist Item</h1>
    <p>Wishlist Name: <%= wishlistItem.wishlistName %></p>
    <p>Item Name: <%= wishlistItem.itemName %></p>
    <!-- Display other wishlist item details -->

    <form action="/edit/<%= wishlistItem._id %>/update" method="post">

        <label for="itemBought">Item Bought:</label>
        <input type="checkbox" id="itemBought" name="itemBought" <%= wishlistItem.itemBought ? 'checked' : '' %>>
        <button type="submit">Update</button>
    </form>
</body>
</html>
