<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Team Registry: Home</title>
  <link rel="icon" type="Images/registry-website-logo" href="Images/registry-website-logo.png" />
  <link href="index_style.css" rel="stylesheet" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>

<header class="topnav">
 <div class="logo-container">
  <img class="png" src="Images/registry-website-logo.png" alt="Website Logo" width="60" height="60">
   <p class="logo">Wishful Registries</p>
  </div>
  <input type="checkbox" id="check">
  <label for="check" class="icons">
    <i class="bx bx-menu" id="menu-icon"></i>
    <i class="bx bx-x" id="close-icon"></i>
  </label>
  <nav class="navbar">
    <a href="/" style="--i:0;">Home</a>
    <% if (loggedInUser) { %>
      <a href="/search" style="--i:1;">Wishlist Search</a>
      <a href="#" style="--i:2;">Welcome: 
        <%= loggedInUser.email %></a> <!-- Changed from <p> to <a> -->
      <a href="/logout" style="--i:3;">Logout</a>
    <% } else { %>
      <a href="/login" style="--i:2;">Login</a>
      <a href="/register" style="--i:3;">Register</a>
    <% } %>
  </nav>
</header>
  

<section class="index-header">
  <div class="header-content">
    <h1 class="web-title">Wishful Registries</h1>
    <h3>Your Wishlist, Your Way</h3>
  </div>
</section>


<section class="about-us" id="about">
  <div class="content">
    <div class="box">
      <img src="Images/pexels-elina-fairytale-4008734.jpg">
      <div class="text-box">
        <h3 class="head-title">Make your wishlist dreams a reality!</h3>
        <p style="margin: 5px;">Our registry maker puts the power in your hands, allowing you to create a
          curated list that reflects your unique taste and preferences.</p>
        <p>Whether you're celebrating a milestone or gearing up for a new chapter, our platform simplifies the
          process
          so you can focus on what truly matters – making memories.</p>
        <p>Start crafting your registry today and embark on the ultimate gifting experience!</p>
      </div>
      <a href="/register" style="text-decoration: none;">
        <button class="button">START CRAFTING</button>
      </a>
      <svg viewBox="0 0 1440 319" id="viewBox">
        <path fill="#b29d8d" fill-opacity="1"
              d="M0,32L48,80C96,128,192,224,288,224C384,224,480,128,576,90.7C672,53,768,75,864,96C960,117,1056,139,1152,149.3C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
        </path>
      </svg>
    </div>
  </div>
</section>

<section class="registry-examples" id="images">
  <div class="header">
    <h3>A Registry For Any Occasion</h3>
  </div>
  <div class="container">
    <div class="image-container">
      <a href="/register">
        <img src="Images/pexels-emma-bauso-2253870.jpg">
        <div class="text">
          <p>Weddings</p>
        </div>
      </a>
    </div>
    <div class="image-container">
      <a href="/register">
        <img src="Images/pexels-alex-tim-754953.jpg">
        <div class="text">
          <p>Baby Showers</p>
        </div>
      </a>
    </div>
    <div class="image-container">
      <a href="/register">
        <img src="Images/pexels-cottonbro-studio-6800133.jpg">
        <div class="text">
          <p>Birthdays</p>
        </div>
      </a>
    </div>
  </div>
  <svg viewBox="0 0 1440 319" id="viewBox">
    <path fill="#eceae1" fill-opacity="1"
          d="M0,32L48,80C96,128,192,224,288,224C384,224,480,128,576,90.7C672,53,768,75,864,96C960,117,1056,139,1152,149.3C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
    </path>
  </svg>
</section>

<section class="item-category" id="items">
  <div class="content">
    <div class="header-content">
      <h3>Our Top Saved Items</h3>
    </div>
    <div class="grid-container">
      <div class="grid-item">
        <img src="Images/product-test-image.jpg" id="item-image">
        <div class="text">Nespresso VertuoPlus Coffee Maker and Espresso Machine by Delonghi</div>
        <p>$115.99</p>
      </div>
      <div class="grid-item">
        <img src="Images/kitchen-aid-mixer.jpg" id="item-image">
        <div class="text">Artisan® Series 5 Quart Tilt-Head Stand Mixer</div>
        <p>$299.99</p>
      </div>
      <div class="grid-item">
        <img src="Images/vaccum-cleaner.jpg" id="item-image">
        <div class="text">Dyson V8 Absolute Vacuum</div>
        <p>$519.99</p>
      </div>
      <div class="grid-item">
        <img src="Images/wine-glasses.png" id="item-image">
        <div class="text">Morgan Wine Glasses by Anthropologie</div>
        <p>$56.00</p>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" id="viewBox">
      <path fill="#6b7555" fill-opacity="1"
            d="M0,192L60,208C120,224,240,256,360,272C480,288,600,288,720,272C840,256,960,224,1080,208C1200,192,1320,192,1380,192L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
      </path>
    </svg>
  </div>
</section>

<section class="footer-content">
  <div class="list">
    <a>Questions?</a>
    <ul class="list-unstyled">
      <li class="list-content">
        Call Us
      </li>
      <li class="list-content">
        Email Us
      </li>
      <li class="list-content">
        Help
      </li>
      <li class="list-content">
        Feedback
      </li>
    </ul>
  </div>
  <div class="list">
    <a>Company Info</a>
    <ul class="list-unstyled">
      <li class="list-content">
        About Us
      </li>
      <li class="list-content">
        Wedding Guides
      </li>
      <li class="list-content">
        Birthday Guides
      </li>
      <li class="list-content">
        News
      </li>
      <li class="list-content">
        Careers
      </li>
    </ul>
  </div>
  <div class="list">
    <a>Member Info</a>
    <ul class="list-unstyled">
      <li class="list-content">
        FAQs
      </li>
      <li class="list-content">
        Find A Registry
      </li>
      <li class="list-content">
        Monthly Prizes
      </li>
    </ul>
  </div>
  <div class="list">
    <a>For Partners</a>
    <ul class="list-unstyled">
      <li class="list-content">
        Business Contact
      </li>
      <li class="list-content">
        Partner Login
      </li>
      <li class="list-content">
        Partner Blog
      </li>
      <li class="list-content">
        Advertise Here
      </li>
    </ul>
  </div>
</section>
</body>
</html>
