/* Navbar/Header container */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif ;
  }
  
  body{
    min-height: 100vh;
    background: url('images/homepage-background-img.jpg') no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 15px;
    background: rgba(157, 114, 114, 0.1);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 100;
    min-width: 800px;
  }
  
  .navbar a {
    font-size: calc(1vw + 1vh);
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    margin-left: 2rem;
  }

  .navbar a:hover{
    text-decoration-line:underline;
    text-decoration-thickness: 0.7px;
    text-underline-offset: 12px;
  }

  .logo-container{
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
   margin-left: 10px;
  }
  
  
  #check{
    display: none;
  }
  
  
  .icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
  }
  
  
  @media (max-width:1200px) {
  
  .icons{
    display: inline-flex;
  }
  
  #check:checked~.icons #menu-icon{
    display:none;
  }
  
  .icons #close-icon{
    display: none;
  }
  
  #check:checked~.icons #close-icon{
    display:block;
  }
  
  .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: #6b7555;
    overflow: hidden;
    transition: .3s ease;
  }
  
  
  #check:checked~.navbar{
    height: auto;
  }
  
  .navbar a{
    display: block;
  font-size: 1.1rem;
  margin: 1.5rem 0;
  text-align: center;
  transform: translateY(-50px);
  opacity: 0;
  transition: .3s ease;
  }
  
  
  #check:checked~.navbar a{
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(.15s * var(--i));
  }
  }


/* Account creation section */
.container {
  padding-top: 20px;
  background-color: #eceae1;
  border-style: inset;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 7rem;
  margin-top: 10rem;
}

.container .header {
  font-size: 24px;
  color: #6b7555;
  text-align: left;
  padding: 1rem;
  text-decoration: solid;
}

.forms {
  text-align: left;
  padding: 1.5rem;
}

.forms ul{
  margin-left: 20px;
}

.forms li{
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}


input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
}

button[type=submit] {
  background-color: #6b7555;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 12px;
  border-radius: 8px;
  color: white;
  border-style: none;
  transition: 1.5s;
}

button:hover {
  background-color: #4e563e;
  outline: none;
  cursor: pointer;
  box-shadow: 8px 4px #bbb9b3;
  transition: 1s;
}

#viewBox {
  height: auto;
  display: flex;
  max-width: 100%;
  position: relative;
}

.footer-content {
  background-color: #6b7555;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #eceae1;
  margin-bottom: 0; /* Ensure no bottom margin */
}

.list {
  padding-left: 40px;
  padding-right: 40px;
  margin: 0;
}

.list a {
  font-size: 30px;
}

.list-unstyled {
  margin-top: 10px;
  list-style-type: none;
}

.list-content {
  margin: 20px;
  font-size: 15px;
}


/* Update the styles for the Create Wishlist button */
.forms .create-button {
  background-color: #6b7555;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 12px;
  border-radius: 8px;
  color: white;
  border-style: none;
  transition: 1.5s;
  margin-left: 10px; /* Add margin to create space between the buttons */
  text-decoration: none; /* Remove underline */
}

.forms .create-button:hover {
  background-color: #4e563e;
  outline: none;
  cursor: pointer;
  box-shadow: 8px 4px #bbb9b3;
  transition: 1s;
}

